apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# ArgoCD 전체 설정 관리
namespace: argocd

resources:
# AppProject
- projects/kamf-project.yaml

# Applications
- applications/kamf-dev.yaml
- applications/kamf-prod.yaml
- applications/root-app.yaml

# ArgoCD 서버 설정
- config/argocd-cm.yaml
- config/argocd-cmd-params-cm.yaml
- config/argocd-notifications-cm.yaml

# RBAC 설정
- rbac/argocd-rbac-cm.yaml

labels:
- pairs:
    app.kubernetes.io/managed-by: argocd
    app.kubernetes.io/part-of: kamf
  includeSelectors: true